<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portal Berita Keren</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Portal Berita Keren</h1>
    </header>
    <main>
        <h2>Berita Terbaru</h2>
        <div class="berita-container">
            {% for berita in berita_list %}
                <div class="kartu-berita">
                    <h3><a href="/berita/{{ berita.id }}">{{ berita.judul }}</a></h3>
                    <p>ditulis oleh: <strong>{{ berita.penulis }}</strong></p>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
